.vscode/
.dockerignore
.gitignore
Dockerfile
test*
.git/
eml_pusher.egg-info/
docker/*
!docker/entrypoint.sh
!docker/run.sh
!docker/requirements.txt
!docker/ca-bundle.crt
eml_pusher/*.pyc
eml_pusher/.pydevproject
*.pem
docker/*.pem

